(    
    {
        Tank: Unit(
            health: 5.0,
            range: 5.0,
            atk_cd: 2.0,
            damage: 2.0,
            speed: 3.0,
            model: "tank"
        ),
        Marine: Unit(
            health: 3.0,
            range: 2.0,
            atk_cd: 1.0,
            damage: 1.0,
            speed: 2.0,
            model: "marine"
        ),
    }
)